<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <img src="assets/icon/logo.png" alt="Logo" style="height: 50px; vertical-align: middle;" />
    </ion-title>

    <ion-buttons slot="end">
      <div class="icon-badge-container">
        <img src="assets/icon/notification.png" alt="Notificação" />
        <ion-badge color="danger" class="icon-badge">2</ion-badge>
      </div>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="avatar-toolbar">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
