
.icon-badge-container {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-top: 6px;
}

.icon-badge-container ion-icon {
  font-size: 28px;
}

.icon-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

img {
  height: 20px;
}

ion-item {
    width: 50px;
    background-color: rgba(87, 87, 87, 0.986);
}
