<ion-content class="ion-padding" [scrollY]="false" style="height: 250px;">
  <p class="title">PROGRAMAS <span class="label">Novo</span></p>
   <!-- <ion-title size="minimal">Personal online</ion-title> -->
  <swiper-container
    slides-per-view="1.5"
    space-between="5"
    free-mode="true"
  >
    <swiper-slide>
      <div class="slide-card" style="background-image: url('assets/icon/levantamento-peso.jpg')">
        <div class="slide-info">
          <span class="label">Continuar treino</span>
          <h3>LEVANTAMENTO DE PESO</h3>
        </div>
      </div>
    </swiper-slide>

     <swiper-slide>
      <div class="slide-card" style="background-image: url('assets/icon/yoga.jpg');">
        <img src="assets/icon/logo.png" />
        <div class="slide-info">
          <h3>YOGA Experience</h3>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
