<ion-content class="ion-padding" [scrollY]="false">
  <p class="title">PROGRAMAS <span class="label">Novo</span></p>
  <swiper-container
    slides-per-view="1.5"
    space-between="5"
    free-mode="true"
  >
    <swiper-slide>
      <div class="slide-card weightlifting">
        <div class="slide-info">
          <span class="label">Continuar treino</span>
          <h3>LEVANTAMENTO DE PESO</h3>
        </div>
      </div>
    </swiper-slide>

     <swiper-slide>
      <div class="slide-card yoga">
        <div class="slide-info">
          <h3>YOGA Experience</h3>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
