<ion-content class="ion-padding" [scrollY]="false">
  <p class="title">PERSONAL ONLINE <ion-icon name="add-circle-outline"></ion-icon></p>
  <swiper-container 
    slides-per-view="1.5"
    space-between="5"
    free-mode="true"
  >
    <swiper-slide>
      <div class="slide-card" style="background-image: url('assets/icon/treino.jpg')">
        <div class="slide-info">
          <h3><ion-icon id="new-training" name="add-circle-outline"></ion-icon>Novo Treino</h3>
        </div>
      </div>
    </swiper-slide>

     <swiper-slide>
      <div class="slide-card" style="background-image: url('assets/icon/yoga.jpg');">
        <div class="slide-info">
          <h3>YOGA Experience</h3>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
