<ion-content class="ion-padding" [scrollY]="false">
  <p class="title">CONTEÚDOS</p>
  <swiper-container
    slides-per-view="1.5"
    space-between="5"
    free-mode="true"
  >
    <swiper-slide>
      <div class="slide-card workout-card-massa">
        <div class="slide-info">
          <h3>Como obter hipertrofia muscular</h3>
        </div>
      </div>
    </swiper-slide>

     <swiper-slide>
      <div class="slide-card food">
        <div class="slide-info">
          <h3>Benefícios de uma boa alimentação</h3>
        </div>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
